.header{
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

.contenedor{
    display:flex;
    height: 200px;
    flex-direction: row;
    flex-wrap: wrap;
    
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
 
}

.columna{
    border: 1px dotted black;
    flex: 1 1 auto;
    padding: 60px ;
    margin: 10px 10px;
    

}
.titulo{
    flex-grow:  1;
    flex-basis: 100%;
}
.color{
    background: silver;
}
.footer{
    text-align: center;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}

